[Desktop Entry]
Name=urxvt
Comment=Terminal emulator
TryExec=urxvt
Exec=urxvt
Icon=terminal
Type=Application
Categories=Utility;TerminalEmulator;System;
StartupNotify=true
X-Ayatana-Desktop-Shortcuts=NewWindow;
 
[NewWindow Shortcut Group]
Name=Open a New Terminal
Exec=rxvt
TargetEnvironment=Unity
